* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    height: 50px;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.header>a {
    text-decoration: none;
    color: #fff;
}

.headerControl {
    width: 3.2rem;
    margin-right: .5rem;
}

.footer {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #87909b;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer p {
    margin: 0 auto;
}

.Character-item {
    margin: 1rem 1rem;
    color: #000;
    background-color: #78736b3b;
    padding: .2rem;
}

.preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    line-height: .7rem;
    padding-top: 4em;
    padding-bottom: 4em;
}

.buttonOption {
    padding: 9px;
    color: #000;
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
}

.buttonOption:hover {
    color: red;
    border-radius: 1px solid blue;
    background-color: rgb(201, 187, 187);
}

.char-description>.buttonOption {
    padding: 1rem;
    color: #000;
    display: block;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(114, 114, 148);
}

.notFound {
    width: 20%;
    margin: 15% auto 0;
    text-align: center;
}

.char-footer {
    color: #000;
}

.name {
    padding: 1rem;
}

.name-detail {
    color: #eb0d0df2;
    padding: 1rem;
}

.Character-img {
    width: 400px;
    height: 350px;
}

.detail-page {
    background-color: #2A2E33;
    background-image: url(/src/assets/img/universe.png);
    height: 100vh;

}

.containerDetail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 960px;
    margin: 3em auto;
    background: #00000045;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

.char-image {
    padding: 1rem;
}

.char-image img {
    max-width: 30em;
    align-items: flex-start;
    padding: 5%;
    width: 100%;
}

.char-description {
    color: #fff;
    text-align: center;
    padding: 1rem;
    min-width: 380px;

}

.char_url {
    margin: 1rem auto;
    padding: 1rem;
    background-color: #2A2E33;
    color: #fff;
    display: block;
    text-decoration: none;
    font-weight: bold;
}

.loader {
    display: flex;
    justify-content: center;
    padding-top: 15%;
    
    
}
.loader-text {
    font-size: 21px;
}

@media only screen and (max-width: 64em) {
    .containerDetail {
        flex-direction: column;
    }

    .char-description {
        padding-top: 0;
    }

    .char-image img {
        padding: 5% 5% 0;
    }

}